*.dat

*.xcuserstate

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

.DS_Store

test
make_tables
sort_tables
*query_a
*query_b
*query_c
*query_d
emancipate_tables
emancipate_bplus
make_bplus_trees
